.resize-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 150;
}

.resize-overlay .resize-handle,
.resize-overlay .column-handle-wrapper {
    pointer-events: all;
}